{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
    <h1>Hello {{ name }}!</h1>
    <a href="{{ path('showname') }}">Back to homepage</a>
    <div>
        <p>
            Brethren of the Coast squiffy Spanish Main poop deck walk the plank sutler yawl grog. Bucko maroon Jack Ketch
            lateen sail overhaul bilge rat galleon yawl. Jury mast avast to go on account mizzen line rigging hands shrouds.
            List flogging furl spyglass Sea Legs gabion trysail loot. Jack weigh anchor heave to black spot Gold Road
            scuppers lanyard Davy Jones' Locker.
        </p>
        <p>
            Rope's end keel Gold Road nipper scallywag hempen halter run a rig squiffy. Cog bilge rigging galleon long
            clothes Yellow Jack quarterdeck keelhaul. Yo-ho-ho sheet nipperkin long clothes dead men tell no tales grog
            Brethren of the Coast rope's end. Clipper marooned prow blow the man down port Blimey boatswain log. Nelsons
            folly Chain Shot lookout Sail ho belaying pin reef spanker topsail.
        </p>
        <p>
            Ye warp six pounders swab execution dock black spot interloper topsail. Sutler coxswain deadlights jack fire
            ship topsail Shiver me timbers doubloon. Fore chandler capstan measured fer yer chains bring a spring upon her
            cable keelhaul wherry belay. Reef driver grog cutlass scuppers mizzen jury mast spyglass. Jib gibbet scuppers
            quarterdeck parrel weigh anchor keelhaul coffer.
        </p>
        <p>
            Hempen halter plunder bilged on her anchor spanker topsail mizzen smartly fathom. Knave clap of thunder measured
            fer yer chains spyglass reef Jack Tar man-of-war parrel. Grog provost yard port measured fer yer chains knave
            case shot loaded to the gunwalls. Lanyard jack spirits Chain Shot bucko flogging quarter knave. Bilge weigh
            anchor lad maroon mizzen square-rigged scourge of the seven seas take a caulk.
        </p>
        <p>
            Hands broadside jolly boat hardtack jib piracy quarterdeck Jack Tar. Lad knave gabion heave down killick bounty
            Letter of Marque hogshead. Sutler lad spyglass red ensign draft yardarm heave down Nelsons folly. Cutlass
            lookout avast league measured fer yer chains draught gangplank Privateer. Topsail Spanish Main Plate Fleet
            schooner pinnace Yellow Jack yardarm code of conduct.
        </p>
        <p>
            Hempen halter pillage trysail fathom hail-shot Nelsons folly lugsail nipper. Lanyard hail-shot warp American
            Main smartly spike Admiral of the Black sloop. Cackle fruit piracy rutters mizzen bilge rat ho yardarm knave.
            Hulk rutters nipperkin yo-ho-ho lanyard fluke topgallant execution dock. Fire ship rutters careen American Main
            driver interloper tack carouser.
        </p>
        <p>
            Booty red ensign rigging mizzenmast bowsprit yo-ho-ho barkadeer dead men tell no tales. Killick skysail walk the
            plank pressgang Admiral of the Black yawl lad aft. Pirate Round haul wind lanyard chase guns fluke chase lass
            six pounders. Line broadside Jolly Roger American Main jury mast yawl to go on account Gold Road. Draft Jack
            Ketch hardtack rigging sutler prow reef come about.
        </p>
        <p>
            Rutters gabion jack bounty draft bucko Pirate Round hogshead. Boom smartly shrouds Sail ho topmast scuppers come
            about driver. Admiral of the Black skysail port boatswain bilge rat pinnace yardarm barkadeer. Rope's end parley
            swing the lead scurvy draft matey quarter deadlights. Careen cable snow cog boom red ensign man-of-war bounty.
        </p>
        <p>
            Splice the main brace heave to sheet belay case shot scallywag Arr lad. Driver lateen sail draft me capstan
            interloper lanyard bring a spring upon her cable. Fluke spyglass skysail Chain Shot aft tackle bucko six
            pounders. Topgallant tender holystone topmast barkadeer log Cat o'nine tails topsail. Handsomely bounty crow's
            nest loaded to the gunwalls bilge rat cutlass yard clipper.
        </p>
    </div>
{% endblock %}
